.IngredientList{
box-sizing: border-box;
position: relative;
width: 633px;
 top: 128px;
 opacity :1;

}
.AnotherScroller{
    overflow: scroll;
    height: 475px;
    overflow-x: hidden;
}
.finalIngeredientdiv{
    display: inline-flex;
    position: relative;
    left: 35%;
    align-items: center;
}
.IngredientField{
    display: flex;
    align-items: center;
}
