.modal{
    position: fixed;
    width: 562px;
    top: 20%;
    left: 35%;
    background: #1C1C21;
    border-radius: 15px;
    z-index: 2;
    
}

.ModalTitle{
    display: flex;
    justify-content: space-between;
}
.Overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left:0px;
    background: rgba(0,0,0,0.6);
    z-index: 1; 
}
