.IngredientList{
box-sizing: border-box;
position: relative;


}
.AnotherScroller{
    overflow: scroll;
    width: 633px;
    height: 670px;
    top: 128px;
    overflow-x: hidden;
}
.finalIngeredientdiv{
    position: relative;
    top: 153px;
    left: 35%;
    align-items: center;
}
.IngredientField{
    display: flex;
    align-items: center;
}