.food{
    overflow: scroll;
    width: 600px;
    height: 716px;
    left: 664px;
    top: 128px;
    overflow-x: hidden;
    
}
.border{
position: relative;
width: 600px;
height: 912px;
left: 2%;
top: 128px;
}
.tab_panel{
    display: flex;
}
.fist_category{
    width: 100%;
    height: 50%;
}
.second_category{
    width: 100%;
    height: 85%;
}
.third_category{
    width: 100%;
    height: 100%;
}